mixin menuList(links)
	ul
		for i in links
			li
				a(href=i.link)=i.name

mixin headingH2(name, desc)
	.heading-content
		h2= name
		p= desc

mixin button(name)
	button.button-more
		=name
		svg(width="41" height="8" viewBox="0 0 41 8").icon-more
			use(xlink:href="img/icon/sprite.svg#icon-more")

mixin iconSvg(w, h, wp, id)
	svg(width=w height=h viewBox=wp class=id)
		use(xlink:href="img/icon/sprite.svg#"+id)


mixin itemMenu()
	li
		a(href="#").category-items
			.category-item--images
				img(src="img/post-img.jpg", alt="")
			.category-item--content
				.category-item--content-head
					h5 Тестовая категория
					span.date 05.06.20
				p Новая версия приложения в Google Play поддерживает опросы, отложенные сообщения и напоминания
		.contents-mobile
			+contentCenter()
			.close-content--wrapper
				a(href="#").close-content #[+iconSvg('133', '241', '0 0 133 241', 'icon-back')]

mixin itemMenuActive()
	li
		a(href="#").category-items0
			.category-item--images
				img(src="img/post-img.jpg", alt="")
			.category-item--content
				.category-item--content-head
					h5 Тестовая категория
					span.date 05.06.20
				p Новая версия приложения в Google Play поддерживает опросы, отложенные сообщения и напоминания
		.contents-mobile
			+contentCenter()

mixin contentCenter()
	// div(data-da="contents-mobile,last,639").content-center.content__block.nano
	.content-center.nano
		.nano-content
			p
				img(src="img/post-img--full4.jpg", alt="")
			p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Lorem свою пояс наш ручеек деревни. Ручеек по всей, страну парадигматическая ему речью семантика которое, путь его гор то вскоре осталось.
			br
			p От всех рукописи меня, если вдали то единственное над языкового имеет предложения назад всемогущая текстов наш они проектах страну мир взобравшись пустился. Свое снова то образ если, напоивший заголовок не коварный.
			p Журчит, океана всеми послушавшись. Вершину повстречался подпоясал, океана переулка. Языкового алфавит сбить запятой заманивший, большого которой лучше безопасную текста рекламных путь большой точках имеет вопрос, залетают это безорфографичный, курсивных осталось.
			p Пунктуация правилами несколько то океана запятой образ деревни текст рыбного дороге! Своих не себя, безорфографичный своего, буквенных вопрос эта но бросил. Рукописи, не лучше вопроса журчит путь рукопись то текстов!
			br
			p
				img(src="img/post-img--full3.jpg", alt="").align-center
			p Большого оксмокс наш, предупредила деревни рукописи рот домах агенство, реторический имени диких решила, послушавшись грустный своих города там! Семантика океана грустный буквоград путь, по всей великий. Страну решила пор, толку возвращайся.
			p Взобравшись страну взгляд моей по всей свой подзаголовок домах собрал живет, скатился безопасную эта рукописи, большой переписали предупредила вопроса вопрос заманивший ipsum переписывается деревни. Жизни щеке своих великий речью маленькая, власти!
			br
			p Что правилами заглавных, маленький дорогу. Вскоре послушавшись всеми свой залетают над одна предупреждал составитель диких дал, грамматики, заголовок родного первую меня это маленькая от всех пунктуация рукописи по всей. Он, языкового, его!
			br
			p
				img(src="img/post-img--full1.jpg", alt="").align-right
			p Текстов заманивший курсивных себя его, агенство семантика, все рыбного заголовок, жизни сих океана деревни решила своих инициал парадигматическая переписывается если! Не его, вопроса образ использовало они? Сих точках имеет родного!
			p Напоивший свой жаренные, деревни, встретил которой lorem! Они грустный, парадигматическая семь повстречался, запятых вопрос пунктуация диких реторический если всеми большой, имени текстами продолжил. Запятой но строчка ты злых мир имени!
			p От всех рукописи меня, если вдали то единственное над языкового имеет предложения назад всемогущая текстов наш они проектах страну мир взобравшись пустился. Свое снова то образ если, напоивший заголовок не коварный.
			p Журчит, океана всеми послушавшись. Вершину повстречался подпоясал, океана переулка. Языкового алфавит сбить запятой заманивший, большого которой лучше безопасную текста рекламных путь большой точках имеет вопрос, залетают это безорфографичный, курсивных осталось.
			p Пунктуация правилами несколько то океана запятой образ деревни текст рыбного дороге! Своих не себя, безорфографичный своего, буквенных вопрос эта но бросил. Рукописи, не лучше вопроса журчит путь рукопись то текстов!
			br
			p
				img(src="img/post-img--full2.jpg", alt="").align-left
			p Решила имеет агенство переписывается предупреждал, снова то букв подзаголовок власти единственное послушавшись подпоясал заголовок они прямо залетают речью наш ipsum назад, диких, путь сих эта имени пунктуация. Текст, продолжил, рекламных.
			p От всех рукописи меня, если вдали то единственное над языкового имеет предложения назад всемогущая текстов наш они проектах страну мир взобравшись пустился. Свое снова то образ если, напоивший заголовок не коварный.
			p Журчит, океана всеми послушавшись. Вершину повстречался подпоясал, океана переулка. Языкового алфавит сбить запятой заманивший, большого которой лучше безопасную текста рекламных путь большой точках имеет вопрос, залетают это безорфографичный, курсивных осталось.
			p Пунктуация правилами несколько то океана запятой образ деревни текст рыбного дороге! Своих не себя, безорфографичный своего, буквенных вопрос эта но бросил. Рукописи, не лучше вопроса журчит путь рукопись то текстов!